<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8" />
    <property name="fileExtensions" value="java, json" />
    <property name="tabWidth" value="4" />

    <module name="NewlineAtEndOfFile" />

    <!-- Blocks -->
    <module name="TreeWalker">
        <module name="LeftCurly">
            <property name="ignoreEnums" value="false" />
            <property name="option" value="eol" />
        </module>

        <module name="RightCurly">
            <property name="option" value="same" />
        </module>
    </module>

    <module name="RegexpMultiline">
        <property name="message" value="Blank line at start of some block" />
        <property name="format" value="[({[]\s+$^$" />
    </module>
    <module name="RegexpMultiline">
        <property name="message" value="Blank line at end of some block" />
        <property name="format" value="^$\s+[]})]" />
    </module>

    <!-- Class Style -->
    <module name="TreeWalker">
        <module name="HideUtilityClassConstructor" />
        <module name="InnerTypeLast" />
        <module name="OneTopLevelClass" />
    </module>

    <!-- Coding -->
    <module name="TreeWalker">
        <module name="UnnecessaryParentheses" />
    </module>

    <!-- Imports -->
    <module name="TreeWalker">
        <module name="AvoidStarImport">
            <property name="allowStaticMemberImports" value="true" />
        </module>

        <module name="ImportOrder">
            <property name="option" value="top" />
            <property name="groups" value="java,javax,*,net.minecraft,org.spongepowered,net.fabricmc,me.pepperbell,com.simibubi" />
            <property name="ordered" value="true" />
            <property name="separated" value="true" />
        </module>

        <module name="RedundantImport" />
        <module name="UnusedImports">
            <property name="processJavadoc" value="false" />
        </module>
    </module>

    <!-- Misc -->
    <module name="TreeWalker">
        <module name="Indentation">
            <property name="basicOffset" value="4" />
            <property name="caseIndent" value="0" />
        </module>

        <module name="OuterTypeFilename" />

        <module name="RegexpSinglelineJava">
            <property name="format" value="^\t* ([^*]|\*[^ /])" /> <!-- From Fabric API: https://github.com/FabricMC/fabric/blob/1.16/checkstyle.xml#L159 -->
            <property name="message" value="Non-tab indentation!" />
        </module>

        <module name="com.simibubi.create.checks.AbstractMixinCheck">
            <property name="mixinAnnotation" value="Mixin" />
        </module>

        <module name="com.simibubi.create.checks.MixinSuffixCheck">
            <property name="mixinAnnotation" value="Mixin" />
            <property name="suffix" value="Mixin" />
        </module>
    </module>

    <module name="FileTabCharacterCheck">
        <property name="fileExtensions" value="json" />
        <property name="eachLine" value="true" />
    </module>
</module>
