<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="fileExtensions" value="java, json"/>
    <property name="tabWidth" value="4"/>

    <module name="NewlineAtEndOfFile"/>

    <module name="TreeWalker">
        <!-- Left curly brace at end of line, not newline -->
        <module name="LeftCurly">
            <property name="ignoreEnums" value="false"/>
            <property name="option" value="eol"/>
        </module>

        <!-- Right curly brace in newline -->
        <module name="RightCurly">
            <property name="option" value="same"/>
        </module>

        <module name="HideUtilityClassConstructor"/>
        <module name="InnerTypeLast"/>
        <module name="OneTopLevelClass"/>

        <module name="UnnecessaryParentheses"/>

        <!-- I dislike them -->
        <module name="AvoidStarImport">
            <property name="allowStaticMemberImports" value="true"/>
        </module>

        <!--
        import java.*;

        import javax.*;

        import everythingelse.*;

        import net.minecraft.*;

        import org.spongepowered.*;

        import net.fabricmc.*;

        imoprt me.pepperbell.*;

        import com.simibubi.*;
        ______________________

        Static imports are at the top and follow the same order.
        -->
        <module name="ImportOrder">
            <property name="option" value="top"/>
            <property name="groups"
                      value="java,javax,*,net.minecraft,org.spongepowered,net.fabricmc,me.pepperbell,com.simibubi"/>
            <property name="ordered" value="true"/>
            <property name="separated" value="true"/>
        </module>

        <module name="RedundantImport"/>
        <module name="UnusedImports">
            <property name="processJavadoc" value="false"/>
        </module>

        <module name="Indentation">
            <property name="basicOffset" value="4"/>
            <property name="caseIndent" value="0"/>
        </module>

        <!-- I mean javac should error for this -->
        <module name="OuterTypeFilename"/>

        <!-- Only tabs allowed! -->
        <module name="RegexpSinglelineJava">
            <property name="format"
                      value="^\t* ([^*]|\*[^ /])"/> <!-- From Fabric API: https://github.com/FabricMC/fabric/blob/1.16/checkstyle.xml#L159 -->
            <property name="message" value="Non-tab indentation!"/>
        </module>

        <!-- Mixins must be abstract -->
        <module name="com.simibubi.create.checks.AbstractMixinCheck">
            <property name="mixinAnnotation" value="Mixin"/>
        </module>

        <!-- Mixin classes' names must end with "Mixin" -->
        <module name="com.simibubi.create.checks.MixinSuffixCheck">
            <property name="mixinAnnotation" value="Mixin"/>
            <property name="suffix" value="Mixin"/>
        </module>

        <!-- Suppress most checks for ported files. Read below -->
        <module name="SuppressionCommentFilter">
            <!--
            Should be at the start (either before or after imports & package) of any file that is ported from Create. That is,
            files that we do not enforce Checkstyle on.
             -->
            <property name="offCommentFormat" value="PORTED CREATE SOURCE"/>

            <!-- If we need this for whatever reason, it's here. -->
            <property name="onCommentFormat" value="ORIGINAL FABRIC SOURCE"/>

            <!-- We still want to error on indentation and import order -->
            <property name="checkFormat"
                      value="^((?!(RegexpSinglelineJava|ImportOrder|RedundantImport|UnusedImports)).)*$"/>
        </module>
    </module>

    <!--
    public class MyClass {

    stuff

    }

    Will trigger both modules.
    -->
    <module name="RegexpMultiline">
        <property name="message" value="Blank line at end of some block"/>
        <property name="format" value="^$\s+[]})]"/>
    </module>
    <module name="RegexpMultiline">
        <property name="message" value="Blank line at start of some block"/>
        <property name="format" value="[({\[]\s+$^$"/>
    </module>

    <module name="SuppressWithPlainTextCommentFilter">
        <!--
        Should be at the start (either before or after imports & package) of any file that is ported from Create. That is,
        files that we do not enforce Checkstyle on.
         -->
        <property name="offCommentFormat" value="// PORTED CREATE SOURCE"/>

        <!-- If we need this for whatever reason, it's here. -->
        <property name="onCommentFormat" value="// ORIGINAL FABRIC SOURCE"/>

        <!-- We want to only suppress RegexpMultiline -->
        <property name="checkFormat" value="RegexpMultiline"/>
    </module>

    <!-- Tabs not allowed in Json -->
    <module name="FileTabCharacterCheck">
        <property name="fileExtensions" value="json"/>
        <property name="eachLine" value="true"/>
    </module>
</module>
